/* .carousel{
    display:block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
    background-position: center;  
} */

/* .carousel .carousel-inner .item img{
    display:block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
    background-position: center;
} */

/* #indicator_left{
    margin-bottom: 200px;
} 
#indicator_right{
    margin-bottom: 200px;
}  */