.main{
    display: inline-block;
    /* width: 100%; */
    margin-top:10%;
    margin-left: 100px;
}
.titleImage{
    float: left;
    height:600px;
    width: 40%;
    margin:2%;
  
}
.titleImage img{
    width: 100%;
    height: 500px;
}
.titlecontent{
    float: left;
    width: 45%;
    margin:2%;
    padding: 2%;
}
.main_heading{
    color: darkcyan;
}
.main_icons{
    display: inline-block;
    text-align: center;        
}
.icons{
    float: left;
    margin-left: 20px;
}
.icons img{
    width: 100px;
    height:100px;
}  		
#feedback{		   
    color:green
}


#stock{
    font-size: 30px;
    color:green
}
.button{
    height:48px;
    width:250px;
    font-size:20px;
}
#Atoc{
    background-color:green
}